@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('ArchitectsDaughter.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    background-color: black;
    height: 100%;
    padding:0px;
    width: 100%;
}

body {
  background-color: black;
}

.console-section {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  /*background-color: black;*/
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  background-image: url('erlking.jpg'); /* fallback for older browsers */
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%), url('erlking.jpg');
  background-size: cover; /* contain */
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(217, 215, 255, 0.2) inset, 2px 2px 16px #000;
}

.head {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  color: #FFF;
  position: fixed;
  padding:5px;
  top: 0;
  left: 10%;
}

.head h1 {
  font-size: 1.5em;
  color: rgb(0, 255, 0);
}

.head h1, .head h4 {
  margin: 1px;
  font-weight: normal;
}

.terminal {
  /*
  background: -moz-linear-gradient(   -45deg, rgba(0,0,0,1) 0, rgba(69,72,77,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0, rgba(69,72,77,1) 100%);
  background:         linear-gradient(135deg, rgba(0,0,0,1) 0, rgba(69,72,77,1) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(69,72,77,1)));
  */
  transition: linear box-shadow .2s;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(217, 215, 255, 0.85) inset, 2px 2px 16px #000;
  padding: 0;
  text-shadow: 0 0 6px rgba(255, 255, 255, .8);
  border: none;
  /*background-color: #000;*/
  background-color: transparent;
  color: #F6F6FF;
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 69px;
}

.erl-viewport {
  height: 94%;
  margin: 15px 20px;
  overflow: hidden;
  padding: 0;
}

.erl-viewport::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.erl-viewport::-webkit-scrollbar-track {
  border-radius: 10px;
}
.erl-viewport::-webkit-scrollbar-thumb {
  /*background: rgba(0, 0, 0, 0.3);*/
  background-color: transparent;
  border-radius: 10px;
}
.erl-viewport::-webkit-scrollbar-corner {
  visibility: hidden;
}

.erl-line {
  line-height: 1.5;
  white-space: nowrap;
}

.erl-cursor {
  visibility: visible;
}

.erl-cursor-hidden {
  visibility: hidden;
}

.erl-x-scroll-track {
  visibility: hidden;
  position: absolute;
  border-radius: 20px;
  height: 5px;
  left: 5%;
  bottom: 10px;
  right: 5%;
}

.erl-y-scroll-track {
  visibility: hidden;
  position: absolute;
  border-radius: 20px;
  width: 5px;
  top: 5%;
  right: 10px;
  bottom: 5%;
}

.erl-x-scroll-thumb {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: 1;
  left: 0;
  height: 5px;
  width: 100%;
}

.erl-y-scroll-thumb {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: 1;
  top: 0;
  width: 5px;
  height: 100%;
}
